body {
  font-family: 'Open Sans', sans-serif;

  /* фон как в макете */
  background:
    linear-gradient(243.18deg, #fdc5c5 25.45%, rgba(242, 152, 222, 0) 100%),
    linear-gradient(243.43deg, #ffa5a5 32.96%, rgba(255, 255, 255, 0) 82.03%), #f39494;

  margin: 0;
  padding: 0;
}

form {
  background-color: #fffefe;

  max-width: 700px;
  padding: 48px 56px;
  margin: 60px auto;

  border-radius: 12px;
  border: 1px solid #f0f0f0;
}

h1 {
  font-size: 36px;
  color: #333333;

  margin: 0 0 12px;
  font-weight: 700;
}

p,
label {
  font-size: 18px;
  color: #666666;

  margin: 0 0 10px;
}

a {
  font-size: 18px;
  color: #089fe0;
  text-decoration: underline;
}

input {
  font-family: inherit;
  font-size: 16px;
  font-style: italic;

  background-color: #f5f5f5;
  color: #333333;

  border: 1px solid #e7e7e7;
  border-radius: 8px;

  padding: 14px 16px;
}

button {
  font-family: inherit;
  font-size: 18px;

  color: #ffffff;
  background-color: #089fe0;

  border: none;
  border-radius: 8px;

  padding: 14px 16px;
  margin-top: 14px;
}
